---
layout: splash
permalink: /
title: "2024 International Workshop on Learning and Information Theory (WOLIT'24)"
header:
  # overlay_color: "#000"
  # overlay_filter: linear-gradient(to bottom right, rgb(0,0,0,0.3), rgb(0,0,0,0.2), rgb(0,0,0,0.1))
  overlay_filter: linear-gradient(to bottom right, rgb(21,129,201,1), rgb(21,129,201,0.9), rgb(21,129,201,0.8), rgb(21,129,201,0.3), rgb(0,0,0,0), rgb(0,0,0,0), rgb(0,0,0,0))
  overlay_image: /assets/images/banner_home-4-min.jpg
  actions:
    - label: "Register"
      url: /registration.html
  # caption: "Photo"
excerpt: "August 19-20, 2024 <br> Shenzhen, China"
---

<div style="text-align: left; width: 75%; margin: 0 auto 0 0;">
  The annual Workshop on Learning and Information Theory aims to bring the world’s leading researchers in all areas of information theory, data science and learning theory, as well as the next generation of outstanding young scholars, to explore deep unsolved problems in the related fields. 
  <p style="margin: 10px 0;"></p>
  This year, WOLIT’24 will feature talks by over 10 distinguished researchers and poster presentations by students.
  <p style="margin: 30px 0;"></p>
  
</div>

<h2>Organizers</h2>
{% include organizers.html%}
<h2>Sponsor</h2>
{% include sponsors.html%}