<style type="text/css">
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;margin:0px auto;}
.tg td{
    background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
    font-family:Arial, sans-serif;font-size:15px;overflow:hidden;padding:10px 10px;word-break:normal;
    text-align:center;vertical-align:middle;
}
.tg th{
    padding: 10px 10px;
    background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
    font-family:Arial, sans-serif;font-size:15px;font-weight:bold;text-align:center;vertical-align:middle;overflow:hidden;word-break:normal;
}
</style>
<table class="tg">
<thead>
    <tr>
    <th>Registration Fee</th>
    <th>Type</th>
    <th>August 19th, 2024<br>Shenzhen</th>
    <th>August 20th, 2024<br>Shenzhen</th>
    </tr>
</thead>
<tbody>
    <tr>
    <td rowspan="3">Early Registration<br>(Register by July 9th, 2024)</td>
    <td>Student   </td>
    <td>CNY 50   </td>
    <td>CNY 50   </td>
    </tr>
    <tr>
    <td>Non-student</td>
    <td>CNY 105   </td>
    <td>CNY 105   </td>
    </tr>
    <tr>
    <td>SIGS faculty, student<br>and invited attendees</td>
    <td>free   </td>
    <td>free   </td>
    </tr>
    <tr>
    <td rowspan="3">Registration<br>(Register by August 18th, 2024)</td>
    <td>Student</td>
    <td>CNY 65   </td>
    <td>CNY 65   </td>
    </tr>
    <tr>
    <td>Non-student</td>
    <td>CNY 130   </td>
    <td>CNY 130   </td>
    </tr>
    <tr>
    <td>SIGS faculty, student<br>and invited attendees</td>
    <td>free   </td>
    <td>free   </td>
    </tr>
</tbody>
</table>